<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" role="navigation" aria-label="main navigation">
  <div class="container-fluid">
    <a href="/" class="navbar-brand"><img id="credit"
        src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Credit.svg"
        alt="credit"> &nbsp;PNLD
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="linkSvg">
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <!-- RUNNER DROPDOWN -->
        <li class="nav-item dropdown">
          <a class="nav-link navColor dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Runners
          </a>

          <!-- SHAPERS -->
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item shaper" href="/runner/chaostheory"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Shaper-smooth.svg"
                  alt="Shaper Faction Symbol" id="shaper"> &nbsp;&nbsp;Chaos Theory: Wünderkind
              </a>
            </li>
            <li><a class="dropdown-item shaper" href="/runner/smoke"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Shaper-smooth.svg"
                  alt="Shaper Faction Symbol" id="shaper"> &nbsp;&nbsp;Ele "Smoke" Scovak: Cynosure of the Net
              </a>
            </li>
            <li><a class="dropdown-item shaper" href="/runner/nasir"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Shaper-smooth.svg"
                  alt="Shaper Faction Symbol" id="shaper"> &nbsp;&nbsp;Nasir Meidan: Cyber Explorer
              </a>
            </li>

            <!-- CRIMINALS -->
            <li><a class="dropdown-item criminal" href="/runner/geist"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Criminal.svg"
                  alt="Criminal Faction Symbol" id="criminal"> &nbsp;&nbsp;Armand "Geist" Walker: Tech Lord
              </a>
            </li>
            <li><a class="dropdown-item criminal" href="/runner/gabriel"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Criminal.svg"
                  alt="Criminal Faction Symbol" id="criminal"> &nbsp;&nbsp;Gabriel Santiago: Consummate
                Professional
              </a>
            </li>
            <li><a class="dropdown-item criminal" href="/runner/khan"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Criminal.svg"
                  alt="Criminal Faction Symbol" id="criminal"> &nbsp;&nbsp;Khan: Savvy Skiptracer
              </a>
            </li>

            <!-- ANARCHS -->
            <li><a class="dropdown-item anarch" href="/runner/null"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Anarch.svg"
                  alt="Anarch Faction Symbol" id="anarch"> &nbsp;&nbsp;Null: Whistleblower
              </a>
            </li>
            <li><a class="dropdown-item anarch" href="/runner/omar"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Anarch.svg"
                  alt="Anarch Faction Symbol" id="anarch"> &nbsp;&nbsp;Omar Keung: Conspiracy Theorist
              </a>
            </li>
            <li><a class="dropdown-item anarch" href="/runner/reina"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Anarch.svg"
                  alt="Anarch Faction Symbol" id="anarch"> &nbsp;&nbsp;Reina Roja: Freedom Fighter
              </a>
            </li>

            <!-- MINI-FACTIONS -->
            <li><a class="dropdown-item adam" href="/runner/adam"><img
                  src="https://netrunnerdb.com/images/factions/16px/adam.png" class="py-2 px-1"
                  alt="Adam Faction Symbol" id="adam">
                &nbsp;&nbsp;&nbsp; Adam: Compulsive Hacker
              </a>
            </li>
            <li><a class="dropdown-item apex" href="/runner/apex"><img
                  src="https://netrunnerdb.com/images/factions/16px/apex.png" class="py-2 px-1"
                  alt="Apex Faction Symbol" id="apex">
                &nbsp;&nbsp; Apex: Invasive Predator
              </a>
            </li>
            <li><a class="dropdown-item sunny" href="/runner/sunny"><img
                  src="https://netrunnerdb.com/images/factions/16px/sunny-lebeau.png" class="py-2 px-1"
                  alt="Sunny Lebeau Faction Symbol" id="sunny"> &nbsp;&nbsp;&nbsp; Sunny Lebeau: Security Specialist
              </a>
            </li>


          </ul>
          <!-- END OF RUNNERS DROPDOWN -->
        </li>

        <!-- CORP DROPDOWN -->
        <li class="nav-item dropdown">
          <a class="nav-link navColor dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Corp
          </a>

          <!-- Haas-Bioroid (HB) -->
          <!-- RGB: (86,75,138) -->
          <!-- HEX: #564B8A -->
          <!-- FILTER: filter: invert(32%) sepia(14%) saturate(2153%) hue-rotate(210deg) brightness(88%) contrast(85%); -->
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item navHb" href="/corp/architects"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/haas-bioroid.svg"
                  alt="Haas-Bioroid Faction Symbol" id="hb"> &nbsp;&nbsp; Haas-Bioroid: Architects of Tomorrow
              </a>
            </li>
            <li><a class="dropdown-item navHb" href="/corp/foundry"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/haas-bioroid.svg"
                  alt="Haas-Bioroid Faction Symbol" id="hb"> &nbsp;&nbsp; The Foundry: Refining the Process
              </a>
            </li>

            <!-- JINTEKI -->
            <!-- RGB: (140,7,18) -->
            <!-- HEX: #8c0712 -->
            <!-- FILTER: filter: invert(8%) sepia(79%) saturate(5871%) hue-rotate(350deg) brightness(89%) contrast(100%); -->
            <li><a class="dropdown-item navJinteki" href="/corp/pe"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Jinteki.svg"
                  alt="Jinteki Faction Symbol" id="jinteki"> &nbsp;&nbsp; Jinteki: Personal Evolution
              </a>
            </li>
            <li><a class="dropdown-item navJinteki" href="/corp/nisei"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Jinteki.svg"
                  alt="Jinteki Faction Symbol" id="jinteki"> &nbsp;&nbsp; Nisei Division: The Next Generation
              </a>
            </li>

            <!-- WEYLAND -->
            <!-- RGB: (57,115,94) -->
            <!-- HEX: #39735e -->
            <!-- FILTER: filter: invert(37%) sepia(22%) saturate(867%) hue-rotate(107deg) brightness(96%) contrast(83%); -->
            <li><a class="dropdown-item navWeyland" href="/corp/bluesun"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Weyland-Consortium.svg"
                  alt="Weyland Faction Symbol" id="weyland"> &nbsp;&nbsp; Blue Sun
              </a>
            </li>
            <li><a class="dropdown-item navWeyland" href="/corp/builder"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/Weyland-Consortium.svg"
                  alt="Weyland Faction Symbol" id="weyland"> &nbsp;&nbsp; Weyland Consortium: Builder of Nations
              </a>
            </li>

            <!-- NBN -->
            <!-- RGB: (242,202,80) -->
            <!-- HEX: #f2ca50 -->
            <!-- FILTER: filter: invert(95%) sepia(38%) saturate(5800%) hue-rotate(318deg) brightness(104%) contrast(90%); -->
            <li><a class="dropdown-item navNbn" href="/corp/spark"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/NBN.svg"
                  alt="NBN Faction Symbol" id="nbn">
                &nbsp;&nbsp; Spark Agency: Worldswide Reach
                World
              </a>
            </li>
            <li><a class="dropdown-item navNbn" href="/corp/sync"><img
                  src="https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/NBN.svg"
                  alt="NBN Faction Symbol" id="nbn">
                &nbsp;&nbsp; SYNC: Everything, Everywhere
              </a>
            </li>


          </ul>

          <!-- END OF CORP DROPDOWN -->
        </li>

        <li class="nav-item dropdown">
          <% const randRunner = Math.floor(Math.random() * 12) + 1 %>
          <a href="/runner/<%= randRunner %>" class="nav-link navColor">Random Runner</a>
        </li>

        <li class="nav-item dropdown">
          <% const randCorp = Math.floor(Math.random() * 8) + 1 %>
          <a href="/corp/<%= randCorp %>" class="nav-link navColor">Random Corp</a>
        </li>

      </ul>

      <!-- END OF COLLAPSE NAVBAR -->
    </div>

    <!-- END OF CONTAINER FLUID -->
  </div>

  <!-- END OF NAVBAR -->
</nav>