<% layout('layouts/boilerplate') %>

<section class="section titleInfo">
  <div class="container">
    <h1 class="text-center text-white">
      Welcome to Phil's <span class="has-text-info">Netrunner</span> Legacy Decks Page!
    </h1>

    <h6 class="text-center text-white">
      Heavily inspired by the
      <a href="https://boardgamegeek.com/thread/2224342/collection-30-decks-casual-play" title="Frankfurt30 BGG"
        alt="Link to Frankfurt30 Collection on BGG">
        Frankfurt30 Collection
      </a>,
      Phil's Legacy Decks
      Page will help
      you get to
      running and/or advancing in no time! If you have already selected a deck you would like to play, simply find the
      runner/corp using the navigation bar on top!
    </h6>
    <h6 class="text-center text-white">
      If you haven't selected a deck yet, no worries! Answer this questionnaire and we'll find you a deck that's suited
      for you!
    </h6>

  </div>

</section>

<section class="runnerOrCorp">
  <h3 class="text-center text-white mb-4">
    Are you playing as the
  </h3>

  <div class="d-grid col-6 mx-auto">
    <button type="button" class="btn btn-danger btn-lg runnerQuestion">Runner</button> <span
      class="text-white text-center h3">or</span>
    <button type="button" class="btn btn-info btn-lg corpQuestion">Corporation</button>
  </div>
  <!-- RUNNERORCORP SECTION -->
</section>

<section class="runnerFaction d-none">
  <div class="d-grid mb-2">
    <button class="btn btn-dark btn-lg d-block mainBack">Back to Runner or Corp</button>
  </div>
  <h3 class="text-center text-white mb-4">
    Which runner faction would you like to play?
  </h3>

  <blockquote class="blockquote text-center text-white">
    To sum things up nicely,
    <br> If the <span class="text-secondary">Corp</span> is trying to build a fortress of ice:
    <br> <span id="shaperText">Shapers</span> walk right through it
    <br> <span id="criminalText">Criminals</span> stop the corp from making it
    <br> <span id="anarchText">Anarchs</span> burn it down
  </blockquote>

  <div class="card text-center bg-dark">
    <div class="card-header bg-dark">
      <ul class="nav nav-pills card-header-pills nav-fill bg-dark">
        <li class="nav-item">
          <a class="nav-link btn btn-success bg-success text-success text-white pickShaper">Shaper</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-info text-info pickCriminal">Criminal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-danger text-danger pickAnarch">Anarch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-warning text-warning pickMini">Mini-Factions</a>
        </li>
      </ul>
    </div>
    <div class="card-body shaperInfo">
      <p class="card-text text-success"><strong><em>Shapers</em> are planners. They'll put their head down and come up
          with a way to
          solve
          whatever
          problem
          the corp is
          presenting them with. This takes time. If the corp does their thing before the Shaper comes up with a
          solution,
          corp wins. <br>Otherwise the Shaper gets to run all over them.</strong>
      </p>
    </div>
    <div class="card-body criminalInfo d-none">
      <p class="card-text text-info"><strong><em>Criminals</em> are sneaky bastards. They don't want to deal with ICE
          and prefer to bypass it or
          find
          another
          way
          around it. They're great at making money and denying the corp's funds but horribly inefficient at breaking
          ICE.
          The longer they can make the corp take to setup, the happier a Criminal is.</strong>
      </p>
    </div>
    <div class="card-body anarchInfo d-none">
      <p class="card-text text-danger"><strong><em>Anarchs</em> will smash a window with their face to see what'll
          happen. They can do most things
          and do
          them
          well but
          at great personal cost. Smart Anarchs mitigate the costs. Other Anarchs try to win before the costs get
          too
          great.</strong>
      </p>
    </div>
    <div class="card-body miniInfo d-none">
      <p class="card-text text-warning">
        <strong>The <em>Mini-Factions</em> are certainly an eclectic bunch. They each borrow familiar traits from each
          faction, but put their own unique twist on things. Are you a Bioroid following your programmed directives?
          Are you corrupted source code turned sentient looking to devour everything in your path? Or are you the badass
          Mother working with the best security corporations to gauge corporate weaknesses?</strong>
      </p>
    </div>
  </div>
  <!-- RUNNERFACTION SECTION -->
</section>

<section class="shaperFaction d-none pb-5">
  <div class="card-group">
    <!-- CHAOS THEORY CARD -->
    <div class="card border-dark bg-dark">
      <img src="/images/chaostheory.jpg" alt="Chaos Theory Full Art" class="card-img-top">
      <div class=" card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Have You Met Dinosaurus?</em>
        </h4>
        <p class="card-text text-center bg-dark text-success">
          <em>Chaos Theory</em> epitomizes the Shaper Faction. Slow to build up her rig, but once
          you do, you can
          pretty much knock down any door that's in your way.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/" class="btn btn-success btn-md text-center">
          Pick Chaos Theory
        </a>
      </div>
    </div>

    <!-- SMOKE CARD -->
    <div class="card border-dark bg-dark">
      <img src="/images/smoke.jpg" alt="Ele &quot;Smoke&quot; Scovak Full Art" class="card-img-top">
      <div class=" card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Smoke and Mirrors</em>
        </h4>
        <p class="card-text text-center bg-dark text-success">
          <em>Smoke</em> is all about showy efficiency. Smoke can treat large ICE as if they were all paper walls and
          her glittery encores allow her to score without stealing.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/" class="btn btn-success btn-md text-center">
          Pick Ele "Smoke" Scovak
        </a>
      </div>
    </div>

    <!-- NASIR CARD -->
    <div class="card border-dark bg-dark">
      <img src="/images/nasir.jpg" alt="Nasir Meidan Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center border-danger">
          <em>Personal Workshop</em>
        </h4>
        <p class="card-text text-center bg-dark text-success">
          <em>Nasir</em> embraces the weird but powerful tools Shapers have created. He spends most of his time
          tinkering in his personal workshop.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/" class="btn btn-success btn-md text-center">
          Pick Nasir Meidan
        </a>
      </div>
    </div>
  </div>
  <!-- SHAPER FACTION SECTION -->
</section>

<section class="criminalFaction d-none pb-5">
  <div class="card-group">
    <!-- ARMAND "GEIST" WALKER -->
    <div class="card border-dark bg-dark">
      <img src="/images/armandgeist.jpg" alt="Armand &quot;Geist&quot; Walker Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>You're Trash Kid</em>
        </h4>
        <p class="card-text text-center bg-dark text-info">
          <em>"Geist"</em> loves to trash things. It doesn't matter that he can only use things once, he makes
          that one time count.
        </p>
      </div>
      <div class="card-footer bg-dark">
        <a href="/" class="btn btn-info btn-md text-center">
          Pick Armand "Geist" Walker
        </a>
      </div>
    </div>
    <!-- GABRIEL SANTIAGO -->
    <div class="card border-dark bg-dark">
      <img src="/images/gabe.jpg" alt="Gabriel Santiago Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>I Know A Guy</em>
        </h4>
        <p class="card-text text-center bg-dark text-info">
          <em>Gabe</em> is charisma incarnate. He knows just about everyone and will utilize each person to get exactly
          what he wants or needs.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/" class="btn btn-info btn-md text-center">
          Pick Gabriel Santiago
        </a>
      </div>
    </div>
    <!-- KHAN -->
    <div class="card border-dark bg-dark">
      <img src="/images/khan.jpg" alt="Khan Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Birds are the Word</em>
        </h4>
        <p class="card-text text-center bg-dark text-info">
          <em>Khan</em> loves her money, which is good because her birds are expensive to maintain their beak
          performances.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/" class="btn btn-info btn-md text-center">
          Pick Khan
        </a>
      </div>
    </div>
  </div>
  <!-- CRIMINAL FACTION SECTION -->
</section>

<section class="anarchFaction d-none pb-5">
  <div class="card-group">
    <!-- NULL -->
    <div class="card border-dark bg-dark">
      <img src="/images/null.jpg" alt="Null Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Some Men Just Want to Watch the World Burn</em>
        </h4>
        <p class="card-text text-center bg-dark text-danger">
          <em>Null</em> wants to do exactly as his name implies, to void everything the corp has ever created.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/" class="btn btn-danger btn-md text-center">
          Pick Null
        </a>
      </div>
    </div>
    <!-- OMAR KEUNG -->
    <div class="card border-dark bg-dark">
      <img src="/images/omar.jpg" alt="Omar Keung Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>I'm Not Old, I'm Experienced</em>
        </h4>
        <p class="card-text text-center bg-dark text-danger">
          <em>Omar</em> has grown a bit senile, but once he starts his job, muscle memory kicks in and none of the
          corps' secrets will remain secret for long.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/" class="btn btn-danger btn-md text-center">
          Pick Omar Keung
        </a>
      </div>
    </div>
    <!-- REINA ROJA -->
    <div class="card border-dark bg-dark">
      <img src="/images/reinaroja.jpg" alt="Reina Roja Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Queen's Gambit</em>
        </h4>
        <p class="card-text text-center bg-dark text-danger">
          <em>Reina</em> is always thinking 20 or 30 moves ahead of her opponents. Given the choice, she will never
          hesitate to sacrifice
          herself in order to win the overall war.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/" class="btn btn-danger btn-md text-center">
          Pick Reina Roja
        </a>
      </div>
    </div>
  </div>
  <!-- ANARCH FACTION SECTION -->
</section>

<section class="miniFaction d-none pb-5">
  <div class="card-group">
    <!-- ADAM -->
    <div class="card border-dark">
      <img src="/images/adam.jpeg" alt="Adam Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Searching for Meaning</em>
        </h4>
        <p class="card-text text-center bg-dark text-warning">
          <em>Adam</em> is forced to follow his programmed directives, but working with his Deva and other AI has slowly
          made him more cognizant. What's more dangerous than a self-aware Bioroid?
        </p>
      </div>
    </div>
    <!-- APEX -->
    <div class="card border-dark">
      <img src="/images/apex.jpg" alt="Apex Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Age of Apex</em>
        </h4>
        <p class="card-text text-center bg-dark text-danger">
          <em>Apex</em> is a complete mystery. Anyone that tells you anything about Apex is either lying or mistaken.
          All we know is that Apex is always hungry and is constantly on the hunt for its next prey.
        </p>
      </div>
    </div>
    <!-- SUNNY LEBEAU -->
    <div class="card border-dark">
      <img src="/images/sunny.jpg" alt="Sunny Lebeau Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Mommy Needs to Kick Some Ass</em>
        </h4>
        <p class="card-text text-center bg-dark text-light">
          <em>Sunny</em> makes a living as a Runner using the resources of the world's best known security corporations.
          With her vast capital, she gets to utilize the best equipment and programs commercially available.
        </p>
      </div>
    </div>
  </div>
  <!-- MINI FACTION SECTION -->
</section>

<section class="corpFaction d-none pb-5">
  <div class="d-grid mb-2">
    <button class="btn btn-dark btn-lg d-block mainBack">Back to Runner or Corp</button>
  </div>
  <h3 class="text-center text-white mb-4">
    Which corp faction would you like to play?
  </h3>

  <blockquote class="blockquote text-center text-white">
    To sum things up nicely,
    <br> If the <span class="text-secondary">Runner</span> is trying to get into the corp's servers:
    <br> <span id="hbText">HB</span> makes it cost too much time and money
    <br> <span id="jintekiText">Jinteki</span> lays traps that makes the runner second guess themselves
    <br> <span id="weylandText">Weyland</span> punishes the runner for getting through
    <br> <span id="nbnText">NBN</span> sets up an endless series of catch-22s that make the runner not even want to run.
  </blockquote>

  <div class="card text-center bg-dark">
    <div class="card-header bg-dark">
      <ul class="nav nav-pills card-header-pills nav-fill bg-dark">
        <li class="nav-item">
          <a class="nav-link btn hbButton" id="hbText">Haas-Bioroid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn jintekiButton" id="jintekiText">Jinteki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn weylandButton" id="weylandText">Weyland</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn nbnButton" id="nbnText">NBN</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="hbFaction d-none pb-5">
  <div class="card-group">
    <!-- THE FOUNDRY CARD -->
    <div class="card border-dark bg-dark">
      <img src="/images/chaostheory.jpg" alt="The Foundry: Refining the Process Full Art" class="card-img-top">
      <div class=" card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>The NEXT Holy Grail</em>
        </h4>
        <p class="card-text text-center bg-dark text-success">
          <em>The Foundry</em> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellendus sed at quaerat
          impedit temporibus, consectetur, veritatis doloribus aliquid aspernatur, non asperiores aliquam obcaecati
          minima excepturi sint vitae id molestiae?
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/" class="btn hbButton btn-md text-center">
          Pick The Foundry
        </a>
      </div>
    </div>

    <!-- HAAS-BIOROID CARD -->
    <div class="card border-dark bg-dark">
      <img src="/images/smoke.jpg" alt="Haas-Bioroid: Architects of Tomorrow Full Art" class="card-img-top">
      <div class=" card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Campaigning with Bioroids</em>
        </h4>
        <p class="card-text text-center bg-dark text-success">
          <em>Haas-Bioroid</em> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium architecto odit aut
          aliquid, dolorum facilis eaque commodi expedita quo, tempora error debitis blanditiis, dolorem iusto
          reiciendis dolore doloribus ducimus doloremque.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/" class="btn hbButton btn-md text-center">
          Pick Haas-Bioroid
        </a>
      </div>
    </div>
  </div>
  <!-- HB FACTION SECTION -->
</section>