<% layout('layouts/boilerplate') %>
<section class="section">
  <div class="container">
    <h1 class="text-center text-white">
      Welcome to Phil's <span class="has-text-info">Netrunner</span> Legacy Decks Page!
    </h1>

    <p class="text-center text-white">
      Heavily inspired by the
      <a href="https://boardgamegeek.com/thread/2224342/collection-30-decks-casual-play" title="Frankfurt30 BGG"
        alt="Link to Frankfurt30 Collection on BGG">
        Frankfurt30
      </a>
      Collection,
      Phil's Legacy
      page will help
      you get to
      running and/or advancing in no time!
    </p>

    <h3 class="text-center text-white">
      Are you a <span class="text-danger">Runner</span> or <span class="text-primary">Corporation</span>?
    </h3>

  </div>

</section>

<footer class="footer">
  <p>Art by: Chi Hung Wong @chwong97</p>

</footer>




<script>
    // $(document).ready(function() {
    //   // Check for click events on the navbar burger icon
    //   $(".navbar-burger").click(function() {
    //     // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    //     $(".navbar-burger").toggleClass("is-active");
    //     $(".navbar-menu").toggleClass("is-active");
    //     $(".runners").addClass("is-hidden-mobile");
    //     $(".corps").addClass("is-hidden-mobile");
    //     // $(".corp").toggleClass("is-active");
    //     // $(".runner").toggleClass("is-active");
    //   });
    // });
  </script>

<script>
    // $(document).ready(function() {
    //   $(".runner").click(function() {
    //     $(".runners").toggleClass("is-hidden-mobile");
    //     $(".runners").toggleClass("is-active");
    //   });
    // });
    // $(document).ready(function() {
    //   $(".corp").click(function() {
    //     $(".corps").toggleClass("is-hidden-mobile");
    //     $(".corps").toggleClass("is-flex");
    //   });
    // });
    // $(document).ready(function() {
    //   $(".runner").click(function() {
    //     $(".runner").next().toggleClass("is-hidden-mobile");
    //   });
    // });
  </script>

<!-- <script>
  $(document).ready(function() {
    // Check for click events on the navbar burger icon
    $("#no").click(function() {
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $("#yes").removeClass("is-success").removeClass("is-selected");
        $("#maybe").removeClass("is-info").removeClass("is-selected");
        $("#no").toggleClass("is-danger").toggleClass("is-selected");
    });
  });
  </script>

  <script>
    var yes = document.getElementById("yes");
    var maybe = document.getElementById("maybe");
    var no = document.getElementById("no");

    function yesButton() {
      yes.classList.toggle("is-success", "is-selected");
      maybe.classList.remove("is-info", "is-selected");
      no.classList.remove("is-danger", "is-selected");
    }

    function maybeButton() {
      yes.classList.remove("is-success", "is-selected");
      maybe.classList.toggle("is-info", "is-selected");
      no.classList.remove("is-danger", "is-selected");
    }
  </script> -->