<% layout('layouts/boilerplate') %>

<section class="section titleInfo">
  <div class="container vh-100 d-flex flex-column justify-content-center pb-5">
    <h1 class="col-6 offset-3 text-center text-white">
      <strong>Phil's <span data-tooltip="A game by Richard Garfield and Lukas Litzsinger">Netrunner</span><br>Legacy
        Decks</strong>
    </h1>

    <h6 class="text-center text-white">
      Inspired by the
      <a href="https://boardgamegeek.com/thread/2224342/collection-30-decks-casual-play" id="frankfurtLink"
        title="Frankfurt30 BGG" alt="Link to Frankfurt30 Collection on BGG">
        Frankfurt30 Collection
      </a>
    </h6>

    <div class="d-grid col-6 mx-auto pt-2">
      <button class="btn btn-outline-danger" id="jackIn">
        Jack In
      </button>
    </div>

  </div>
</section>

<section class="runnerFaction d-none pt-5">
  <div class="d-flex row mb-2 pt-4 justify-contents-center">
    <div class="col-6">
      <button type="button" class="btn btn-outline-danger btn-lg w-100 runnerQuestion runnerSelect"
        id="runnerButtonR">Runner</button>
    </div>

    <div class="col-6">
      <button type="button" class="btn btn-outline-info btn-lg w-100 corpQuestion" id="corpButtonR">Corporation</button>
    </div>
  </div>

  <div class="card text-center bg-dark mt-3">
    <div class="card-header bg-dark">
      <ul class="nav nav-pills card-header-pills nav-fill bg-dark">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-success pickShaper" id="shaperText">Shaper</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-info pickCriminal" id="criminalText">Criminal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-danger pickAnarch" id="anarchText">Anarch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-warning pickMini" id="miniText">Mini-Factions</a>
        </li>
      </ul>
    </div>
    <div class="card-body shaperInfo">
      <p class="card-text text-success"><em>Shapers</em> are planners. They'll put their head down and come up
        with a way to
        solve
        whatever
        problem
        the corp is
        presenting them with. This takes time. If the corp does their thing before the Shaper comes up with a
        solution,
        corp wins. Otherwise the Shaper gets to run all over them.
      </p>
    </div>
    <div class="card-body criminalInfo d-none">
      <p class="card-text text-info"><em>Criminals</em> are sneaky bastards. They don't want to deal with ICE
        and prefer to bypass it or
        find
        another
        way
        around it. They're great at making money and denying the corp's funds but horribly inefficient at breaking
        ICE.
        The longer they can make the corp take to setup, the happier a Criminal is.
      </p>
    </div>
    <div class="card-body anarchInfo d-none">
      <p class="card-text text-danger"><em>Anarchs</em> will smash a window with their face to see what'll
        happen. They can do most things
        and do
        them
        well but
        at great personal cost. Smart Anarchs mitigate the costs. Other Anarchs try to win before the costs get
        too
        great.
      </p>
    </div>
    <div class="card-body miniInfo d-none">
      <p class="card-text text-warning">
        The <em>Mini-Factions</em> are certainly an eclectic bunch. They each borrow familiar traits from each
        faction, but put their own unique twist on things. Are you a Bioroid following your programmed directives?
        Are you corrupted source code turned sentient looking to devour everything in your path? Or are you the
        badass
        Mother working with the best security corporations to gauge corporate weaknesses?
      </p>
    </div>
  </div>

  <!-- RUNNERFACTION SECTION -->

</section>

<section class="shaperFaction d-none mb-2 pb-5">
  <div class="card-group">
    <!-- CHAOS THEORY CARD -->
    <div class="card border-dark bg-dark">
      <img src="/images/chaostheory.jpg" alt="Chaos Theory Full Art" class="card-img-top">
      <div class=" card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Have You Met Dinosaurus?</em>
        </h4>
        <p class="card-text text-center bg-dark text-success">
          <em>Chaos Theory</em> epitomizes the Shaper Faction. Slow to build up her rig, but once
          you do, you can
          pretty much knock down any door that's in your way.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/chaostheory" class="btn btn-outline-success btn-md text-center pickShaper">
          Pick Chaos Theory
        </a>
      </div>
    </div>

    <!-- SMOKE CARD -->
    <div class="card border-dark bg-dark">
      <img src="/images/smoke.jpg" alt="Ele &quot;Smoke&quot; Scovak Full Art" class="card-img-top">
      <div class=" card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Smoke And Mirrors</em>
        </h4>
        <p class="card-text text-center bg-dark text-success">
          <em>Smoke</em> is all about showy efficiency. Smoke can treat large ICE as if they were all paper walls
          and
          her glittery encores allow her to score without stealing.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/smoke" class="btn btn-outline-success btn-md text-center pickShaper">
          Pick Ele "Smoke" Scovak
        </a>
      </div>
    </div>

    <!-- NASIR CARD -->
    <div class="card border-dark bg-dark">
      <img src="/images/nasir.jpg" alt="Nasir Meidan Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center border-danger">
          <em>Personal Workshop</em>
        </h4>
        <p class="card-text text-center bg-dark text-success">
          <em>Nasir</em> embraces the weird but powerful tools Shapers have created. He spends most of his time
          tinkering in his personal workshop.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/nasir" class="btn btn-outline-success btn-md text-center pickShaper">
          Pick Nasir Meidan
        </a>
      </div>
    </div>
  </div>
  <!-- SHAPER FACTION SECTION -->
</section>

<section class="criminalFaction d-none mb-2 pb-5">
  <div class="card-group">
    <!-- ARMAND "GEIST" WALKER -->
    <div class="card border-dark bg-dark">
      <img src="/images/armandgeist.jpg" alt="Armand &quot;Geist&quot; Walker Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>You're Trash Kid</em>
        </h4>
        <p class="card-text text-center bg-dark text-info">
          <em>"Geist"</em> has a lot of toys that are unfortunately very fragile and one time use. But it doesn't matter
          that he can only use things once, he makes
          that one time count.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/geist" class="btn btn-outline-info btn-md text-center pickCriminal">
          Pick Armand "Geist" Walker
        </a>
      </div>
    </div>
    <!-- GABRIEL SANTIAGO -->
    <div class="card border-dark bg-dark">
      <img src="/images/gabe.jpg" alt="Gabriel Santiago Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>I Know A Guy</em>
        </h4>
        <p class="card-text text-center bg-dark text-info">
          <em>Gabe</em> is charisma incarnate. He knows just about everyone and will utilize each person to get exactly
          what he wants or needs.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/gabriel" class="btn btn-outline-info btn-md text-center pickCriminal">
          Pick Gabriel Santiago
        </a>
      </div>
    </div>
    <!-- KHAN -->
    <div class="card border-dark bg-dark">
      <img src="/images/khan.jpg" alt="Khan Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>B-B-Bird Bird Bird</em>
        </h4>
        <p class="card-text text-center bg-dark text-info">
          <em>Khan</em> has a reputation for taking on the most challenging, albeit rewarding, contracts. It takes
          a lot of money to maintain her birds at beak performances.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/khan" class="btn btn-outline-info btn-md text-center pickCriminal">
          Pick Khan
        </a>
      </div>
    </div>
  </div>
  <!-- CRIMINAL FACTION SECTION -->
</section>

<section class="anarchFaction d-none mb-2 pb-5">
  <div class="card-group">
    <!-- NULL -->
    <div class="card border-dark bg-dark">
      <img src="/images/null.jpg" alt="Null Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Some Men Just Want To Watch The World Burn</em>
        </h4>
        <p class="card-text text-center bg-dark text-danger">
          <em>Null</em> wants to do exactly as his name implies, to void everything the corp has ever created.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/null" class="btn btn-outline-danger btn-md text-center pickAnarch">
          Pick Null
        </a>
      </div>
    </div>
    <!-- OMAR KEUNG -->
    <div class="card border-dark bg-dark">
      <img src="/images/omar.jpg" alt="Omar Keung Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>I'm Not Old, I'm Experienced</em>
        </h4>
        <p class="card-text text-center bg-dark text-danger">
          <em>Omar</em> has grown a bit senile, but once he starts his job, muscle memory kicks in and none of the
          corps' secrets will remain secret for long.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/omar" class="btn btn-outline-danger btn-md text-center pickAnarch">
          Pick Omar Keung
        </a>
      </div>
    </div>
    <!-- REINA ROJA -->
    <div class="card border-dark bg-dark">
      <img src="/images/reinaroja.jpg" alt="Reina Roja Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Queen's Gambit</em>
        </h4>
        <p class="card-text text-center bg-dark text-danger">
          <em>Reina</em> is always thinking 20 or 30 moves ahead of her opponents. Given the choice, she will never
          hesitate to sacrifice
          herself in order to win the overall war.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/reina" class="btn btn-outline-danger btn-md text-center pickAnarch">
          Pick Reina Roja
        </a>
      </div>
    </div>
  </div>
  <!-- ANARCH FACTION SECTION -->
</section>

<section class="miniFaction d-none mb-2 pb-5">
  <div class="card-group">
    <!-- ADAM -->
    <div class="card border-dark bg-dark">
      <img src="/images/adam.jpeg" alt="Adam Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Searching For Meaning</em>
        </h4>
        <p class="card-text text-center bg-dark text-warning">
          <em>Adam</em> is forced to follow his programmed directives, but working with his Deva and other AI has slowly
          made him more cognizant. What's more dangerous than a self-aware Bioroid?
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/adam" class="btn btn-outline-warning btn-md text-center pickAdam adamSelect">
          Pick Adam
        </a>
      </div>
    </div>
    <!-- APEX -->
    <div class="card border-dark bg-dark">
      <img src="/images/apex.jpg" alt="Apex Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Age Of Apex</em>
        </h4>
        <p class="card-text text-center bg-dark text-danger">
          <em>Apex</em> is a complete mystery. Anyone that tells you anything about Apex is either lying or mistaken.
          All we know is that Apex is always hungry and is constantly on the hunt for its next prey.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/apex" class="btn btn-outline-danger btn-md text-center pickApex apexSelect">
          Pick Apex
        </a>
      </div>
    </div>
    <!-- SUNNY LEBEAU -->
    <div class="card border-dark bg-dark">
      <img src="/images/sunny.jpg" alt="Sunny Lebeau Full Art" class="card-img-top">
      <div class="card-body bg-dark">
        <h4 class="card-title text-white text-center">
          <em>Mommy Needs To<br>Kick Some Ass</em>
        </h4>
        <p class="card-text text-center bg-dark text-light">
          <em>Sunny</em> works for the world's best known security corporations.
          With her vast capital, she gets to utilize the best equipment and programs commercially available.
        </p>
      </div>
      <div class="card-footer bg-dark mx-auto">
        <a href="/runner/sunny" class="btn btn-outline-light btn-md text-center pickSunny sunnySelect">
          Pick Sunny Lebeau
        </a>
      </div>
    </div>
  </div>
  <!-- MINI FACTION SECTION -->
</section>

<section class="corpFaction d-none pt-5">
  <div class="d-flex row mb-2 pt-4 justify-contents-center">
    <div class="col-6">
      <button type="button" class="btn btn-outline-danger btn-lg w-100 runnerQuestion"
        id="runnerButtonC">Runner</button>
    </div>

    <div class="col-6">
      <button type="button" class="btn btn-outline-info btn-lg w-100 corpQuestion corpSelect"
        id="corpButtonC">Corporation</button>
    </div>
  </div>

  <div class="card text-center bg-dark mt-3">
    <div class="card-header bg-dark">
      <ul class="nav nav-pills card-header-pills nav-fill bg-dark">
        <li class="nav-item">
          <a class="nav-link btn hbButton" id="hbText">Haas-Bioroid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn jintekiButton" id="jintekiText">Jinteki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn weylandButton" id="weylandText">Weyland</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn nbnButton" id="nbnText">NBN</a>
        </li>
      </ul>
    </div>
    <div class="card-body hbInfo">
      <p class="card-text hbText"><em>Haas-Bioroid</em> is the value town corp. They can do a bit of everything
        and they do it for a decent price. What they care about most is efficiency, clicks are king for HB. They have
        a plethora of ways to gain clicks and bioroid ICE, while good value, can be broken if the runner spends
        clicks. If the runner is more efficient than HB, HB loses.
      </p>
    </div>
    <div class="card-body jintekiInfo d-none">
      <p class="card-text jintekiText"><em>Jinteki</em> is all about manipulation. They're not very good at
        keeping the runner out of their stuff so their main defense is asking the runner if they really want to.
        Plenty of taxing ICE that's a real pain to deal with and traps to go at the end of them to make you regret
        every choice that lead you to that point. If the runner guesses
        right on the shell games or has a way to pay through whatever nonsense Jinteki is trying to pull off, they'll
        get there.
      </p>
    </div>
    <div class="card-body weylandInfo d-none">
      <p class="card-text weylandText"><em>Weyland</em> is a rich bastard. Getting extravagant piles of cash is
        what Weyland is best at. Then they erect great hulking walls to keep the runner out. If things don't go their
        way they have a tantrum and try to blow the runner up with a pile of meat damage. Things tend to go wrong for
        Weyland when they don't have as much money as they'd like.
      </p>
    </div>
    <div class="card-body nbnInfo d-none">
      <p class="card-text nbnText">
        <em>NBN</em> loves information. They're great at landing tags and punishing you in a host of different
        ways. They're also great at drawing and filtering cards. To top it off, NBN is amazing at scoring agendas
        out of hand. NBN loses when the runner has a way to slow them down or just straight up overrun them.
      </p>
    </div>
  </div>
  <!-- CORP FACTION SECTION -->
</section>

<section class="hbFaction d-none mb-2 pb-5">
  <div class="card-group">
    <div class="row bg-dark m-auto">
      <!-- FILLER TEST -->
      <div class="col-1 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>

      <!-- THE FOUNDRY CARD -->
      <div class="col-md-6 col-lg-4">
        <div class="card border-dark bg-dark h-100">
          <img src="/images/foundry.jpg" alt="The Foundry: Refining the Process Full Art" class="card-img-top">
          <div class="card-body bg-dark">
            <h4 class="card-title text-white text-center">
              <em>The NEXT Holy Grail</em>
            </h4>
            <p class="card-text text-center bg-dark hbText">
              <em>The Foundry</em> specializes in mass producing NEXT and Grail ICE. They're ICE are quite slow and weak
              to start, but with every future iteration it can quickly become a costly endeavor to breach their
              servers.
            </p>
          </div>
          <div class="card-footer bg-dark mx-auto my-auto">
            <a href="/" class="btn hb btn-md text-center mt-1">
              Pick The Foundry
            </a>
          </div>
        </div>
      </div>

      <!-- FILLER TEST -->
      <div class="col-2 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>

      <!-- HAAS-BIOROID CARD -->
      <div class="col-md-6 col-lg-4">
        <div class="card border-dark bg-dark h-100">
          <img src=" /images/haasbioroid.jpg" alt="Haas-Bioroid: Architects of Tomorrow Full Art" class="card-img-top">
          <div class=" card-body bg-dark">
            <h4 class="card-title text-white text-center">
              <em>Campaign: Bioroid</em>
            </h4>
            <p class="card-text text-center bg-dark hbText">
              <em>Haas-Bioroid</em> are the world leaders in cybernetics and AI. Specializing themselves in creating
              bioroids, they have pervaded the world with their endless bioroid campaigns and their hyper-efficient
              bioroid ICE.
            </p>
          </div>
          <div class="card-footer bg-dark mx-auto">
            <a href="/" class="btn hb btn-md text-center my-auto">
              Pick Haas-Bioroid
            </a>
          </div>
        </div>
      </div>

      <!-- FILLER TEST -->
      <div class="col-1 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>
    </div>
  </div>
  <!-- HB FACTION SECTION -->
</section>

<section class="jintekiFaction d-none mb-2 pb-5">
  <div class="card-group">
    <div class="row bg-dark m-auto">
      <!-- FILLER TEST -->
      <div class="col-1 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>
      <!-- NISEI DIVISION CARD -->
      <div class="col-md-6 col-lg-4">
        <div class="card border-dark bg-dark h-100">
          <img src="/images/nisei.jpg" alt="Nisei Division: The Next Generation Full Art" class="card-img-top">
          <div class=" card-body bg-dark">
            <h4 class="card-title text-white text-center">
              <em>Do You Want To Play A PSI Game?</em>
            </h4>
            <p class="card-text text-center bg-dark jintekiText">
              <em>Nisei Division</em> of Jinteki are the reason for the PSI clones. Their clones have precognitive
              capabilities
              which they use to foresee the future. If they can correctly predict the future, runners tend
              to be met with deadly countermeasures.
            </p>
          </div>
          <div class="card-footer bg-dark mx-auto mt-auto">
            <a href="/" class="btn jinteki btn-md text-center">
              Pick Nisei Division
            </a>
          </div>
        </div>
      </div>

      <!-- FILLER TEST -->
      <div class="col-2 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>

      <!-- JINTEKI CARD -->
      <div class="col-md-6 col-lg-4">
        <div class="card border-dark bg-dark h-100">
          <img src="/images/jinteki.jpg" alt="Jinteki: Personal Evolution Full Art" class="card-img-top">
          <div class=" card-body bg-dark">
            <h4 class="card-title text-white text-center">
              <em>Death By Thousand Cuts</em>
            </h4>
            <p class="card-text text-center bg-dark jintekiText">
              <em>Jinteki</em> are very mysterious in their ways of development. With their personable clones, they tend
              to be
              very welcoming to their servers, almost in a rather seductive way. What you'll find there, however, is
              anything
              but inviting.
            </p>
          </div>
          <div class="card-footer bg-dark mx-auto mt-auto">
            <a href="/" class="btn jinteki btn-md text-center">
              Pick Jinteki
            </a>
          </div>
        </div>
      </div>

      <!-- FILLER TEST -->
      <div class="col-1 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>
    </div>
  </div>
  <!-- JINTEKI FACTION SECTION -->
</section>

<section class="weylandFaction d-none mb-2 pb-5">
  <div class="card-group">
    <div class="row bg-dark m-auto">
      <!-- FILLER TEST -->
      <div class="col-1 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>

      <!-- WEYLAND BUILDER OF NATIONS CARD -->
      <div class="col-md-6 col-lg-4">
        <div class="card border-dark bg-dark h-100">
          <img src="/images/weylandbon.jpg" alt="Weyland Consortium: Builder of Nations Full Art" class="card-img-top">
          <div class=" card-body bg-dark">
            <h4 class="card-title text-white text-center">
              <em>Everything Is Advanceable</em>
            </h4>
            <p class="card-text text-center bg-dark weylandText">
              <em>Weyland</em> is notorious for buying many large construction companies to build
              massive constellations of ICE. To them, everything is advanceable; and to the runner, that is a very bad
              thing.
            </p>
          </div>
          <div class="card-footer bg-dark mx-auto">
            <a href="/" class="btn weyland btn-md text-center mt-auto">
              Pick Builder of Nations
            </a>
          </div>
        </div>
      </div>

      <!-- FILLER TEST -->
      <div class="col-2 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>

      <!-- WEYLAND BUILDING A BETTER WORLD CARD -->
      <div class="col-md-6 col-lg-4">
        <div class="card border-dark bg-dark h-100">
          <img src="/images/babw.jpg" alt="Weyland Consortium: Building a Better World Full Art" class="card-img-top">
          <div class=" card-body bg-dark">
            <h4 class="card-title text-white text-center">
              <em>Too Big To Fail</em>
            </h4>
            <p class="card-text text-center bg-dark weylandText">
              <em>Weyland</em> has a near limitless bankroll and aren't shy of employing the strongest ICE from other
              corporations. If the mountains of ICE don't stop runners, Weyland will just go off the grid to prevent any
              further infiltration.
            </p>
          </div>
          <div class="card-footer bg-dark mx-auto">
            <a href="/" class="btn weyland btn-md text-center mt-auto">
              Pick Building a Better World
            </a>
          </div>
        </div>
      </div>

      <!-- FILLER TEST -->
      <div class="col-1 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>
    </div>
  </div>
  <!-- WEYLAND FACTION SECTION -->
</section>

<section class="nbnFaction d-none mb-2 pb-5">
  <div class="card-group">
    <div class="row bg-dark m-auto">
      <!-- FILLER TEST -->
      <div class="col-1 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>

      <!-- SPARK AGENCY CARD -->
      <div class="col-md-6 col-lg-4">
        <div class=" card border-dark bg-dark h-100">
          <img src="/images/spark.jpg" alt="Spark Agency: Worldswide Reach Full Art" class="card-img-top">
          <div class=" card-body bg-dark">
            <h4 class="card-title text-white text-center">
              <em>Ads, Ads Everywhere</em>
            </h4>
            <p class="card-text text-center bg-dark nbnText">
              <em>Spark Agency</em> is all about hitting the consumer with ads, ads, and more ads. Once they have the
              runner's info, their rebranding team will hit them with even more ads, forcing the runner to shell out all
              of their credits to the Agency.
            </p>
          </div>
          <div class="card-footer bg-dark mx-auto">
            <a href="/" class="btn nbn btn-md text-center">
              Pick Spark Agency
            </a>
          </div>
        </div>
      </div>

      <!-- FILLER TEST -->
      <div class="col-2 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>

      <!-- SYNC: EVERYTHING EVERYWHERE CARD -->
      <div class="col-md-6 col-lg-4">
        <div class="card border-dark bg-dark h-100">
          <img src="/images/sync.jpg" alt="SYNC: Everything, Everywhere Full Art" class="card-img-top">
          <div class=" card-body bg-dark">
            <h4 class="card-title text-white text-center">
              <em>Tags, Tags Everywhere</em>
            </h4>
            <p class="card-text text-center bg-dark nbnText">
              <em>SYNC</em> has the greatest satellite system available. They use this vast network and psychographics
              to target the runners and expose them of their antics. They make it almost impossible for you to go
              anywhere without being tracked.
            </p>
          </div>
          <div class="card-footer bg-dark mx-auto">
            <a href="/" class="btn nbn btn-md text-center">
              Pick SYNC
            </a>
          </div>
        </div>
      </div>

      <!-- FILLER TEST -->
      <div class="col-1 d-md-none d-lg-block">
        <div class="card border-dark bg-dark">
        </div>
      </div>
    </div>
  </div>
  <!-- NBN FACTION SECTION -->
</section>