/* 
  COLOR PALETTE:
  #2C3531 - grey
  #116466 - dark teal
  #D9B08C - brown beige
  #FFCB9A - skin tone
  #D1E8E2 - white/greenish
*/

.iosModal {
  cursor: pointer;
}

.bodyHome {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/frontpage.jpg");
  background-color: #101a24;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Orbitron', sans-serif;
}

.bodyFade {
  height: 100vh;
  background-image: none;
  background-color: #101a24;
  font-family: 'Orbitron', sans-serif;
  /* -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease; */
}

p {
  font-family: 'Roboto', sans-serif;
}

.btn-close {
  filter: brightness(0) invert(1)!important;
}

/* BUTTONS -- HIGHLIGHTED LIKE NEON LIGHTS */
#jackIn:hover {
  color: #dc3545;
  background: #dc35467a;
  box-shadow: 0 0 10px #dc35467a, 0 0 40px #dc35467a, 0 0 80px #dc35467a;
}

#runnerButtonR:hover {
  color: #dc3545;
  background: #dc35467a;
  box-shadow: 0 0 10px #dc35467a, 0 0 40px #dc35467a, 0 0 80px #dc35467a;
}

#runnerButtonC:hover {
  color: #dc3545;
  background: #dc35467a;
  box-shadow: 0 0 10px #dc35467a, 0 0 40px #dc35467a, 0 0 80px #dc35467a;
}

.runnerSelect {
  box-shadow: 0 0 10px #dc35467a, 0 0 40px #dc35467a, 0 0 80px #dc35467a;
}

#corpButtonR:hover {
  color: #0dcaf0;
  background: #0dcaf091;
  box-shadow: 0 0 10px #0dcaf091, 0 0 40px #0dcaf091, 0 0 80px #0dcaf091;
}

#corpButtonC:hover {
  color: #0dcaf0;
  background: #0dcaf091;
  box-shadow: 0 0 10px #0dcaf091, 0 0 40px #0dcaf091, 0 0 80px #0dcaf091;
}

.corpSelect {
  box-shadow: 0 0 10px #0dcaf091, 0 0 40px #0dcaf091, 0 0 80px #0dcaf091;
}


#frankfurtLink {
  color: #FFCB9A;
}

.navbar-toggler-icon {
  background-image: url("https://raw.githubusercontent.com/MWDelaney/Netrunner-Icon-Font/51bc5ed1bb4bc320e4dcd17940bef48a8f57cd25/Netrunner/svg/link.svg")!important;
  background-size: 80%;
}

#linkSvg {
  filter: invert(32%) sepia(26%) saturate(1265%) hue-rotate(133deg) brightness(90%) contrast(91%);
}

.navbar-toggler {
  color: #D1E8E2!important;
}

.footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.dropdown-item {
  color: #d1f7ff;
  /* background-color: black; */
}

.navbar {
  background-color: #D1E8E2!important;
}

.nav-item {
  color: #116466!important;
}

.navColor {
  color: #116466!important;
}


.navbar-brand {
  color: #116466!important;
}

.dropdown-menu {
  background-color: #D1E8E2!important;
}

.dropdown-item {
  color: #116466!important;
}

/* .text-white {
  color: #d1f7ff!important;
} */

.mainBack:hover {
  box-shadow: 0 0 10px #2125298c, 0 0 40px #2125298c, 0 0 80px #2125298c;
}

#credit {
  /* filter: invert(100%); */
  /* filter: invert(46%) sepia(86%) saturate(6091%) hue-rotate(325deg) brightness(101%) contrast(103%); */
  filter: invert(75%) sepia(14%) saturate(797%) hue-rotate(346deg) brightness(99%) contrast(82%);
}

/* SHAPER COLORS */
#shaper {
  filter: invert(89%) sepia(75%) saturate(2640%) hue-rotate(63deg) brightness(85%) contrast(92%);
}
.shaper:hover {
  background-color: #35AC5E;
}
#shaperText {
  color: #065e1b;
}
#shaperText:hover {
  color: #065e1b;
}
.shaperSelect {
  box-shadow: 0 0 5px #19875483, 0 0 10px #19875483, 0 0 20px #19875483;
}
.pickShaper:hover {
  box-shadow: 0 0 10px #19875483, 0 0 40px #19875483, 0 0 80px #19875483;
}


/* CRIMINAL COLORS */
#criminal {
  filter: invert(49%) sepia(12%) saturate(4050%) hue-rotate(165deg) brightness(106%) contrast(90%);
}
.criminal:hover {
  background-color: #0080d5;
}
#criminalText {
  color: #0796b3;
}
.criminalSelect {
  box-shadow: 0 0 5px #0dcaf07c, 0 0 10px #0dcaf07c, 0 0 20px #0dcaf07c;
}
.pickCriminal:hover {
  color: white;
  box-shadow: 0 0 10px #0dcaf07c, 0 0 40px #0dcaf07c, 0 0 80px #0dcaf07c;
}


/* ANARCH COLORS */
#anarch {
  filter: invert(38%) sepia(48%) saturate(5722%) hue-rotate(328deg) brightness(103%) contrast(101%);
}
.anarch:hover {
  background-color: #c11134;
}
#anarchText {
  color: #b00f1f;
}
.anarchSelect {
  box-shadow: 0 0 5px #dc354681, 0 0 10px #dc354681, 0 0 20px #dc354681;
}
.pickAnarch:hover {
  box-shadow: 0 0 10px #dc354681, 0 0 40px #dc354681, 0 0 80px #dc354681;
}


/* MINI-FACTION COLORS */
#adam {
  filter: invert(85%) sepia(31%) saturate(634%) hue-rotate(348deg) brightness(104%) contrast(102%);
}
.adam:hover {
  background-color: #c4bc48;
}
.adamSelect {
  box-shadow: 0 0 5px #c4bc487a, 0 0 10px #c4bc487a, 0 0 20px #c4bc487a;
}
.pickAdam:hover {
  color: white;
  box-shadow: 0 0 10px #c4bc487a, 0 0 40px #c4bc487a, 0 0 80px #c4bc487a;
}

#apex {
  filter: invert(13%) sepia(71%) saturate(5282%) hue-rotate(339deg) brightness(102%) contrast(95%);
}
.apex:hover {
  background-color: #6c0419;
}
.apexSelect {
  box-shadow: 0 0 5px #6c041977, 0 0 10px #6c041977, 0 0 20px #6c041977;
}
.pickApex:hover {
  box-shadow: 0 0 10px #6c041977, 0 0 40px #6c041977, 0 0 80px #6c041977;
}

#sunny {
  filter: invert(84%) sepia(25%) saturate(5%) hue-rotate(353deg) brightness(94%) contrast(108%);
}
.sunny:hover {
  background-color: #bababa;
}
.sunnySelect {
  box-shadow: 0 0 5px #bababa81, 0 0 10px #bababa81, 0 0 20px #bababa81;
}
.pickSunny:hover {
  box-shadow: 0 0 10px #bababa81, 0 0 40px #bababa81, 0 0 80px #bababa81;
}
#sunnyText {
  color: #DBDBDB;
  background-color: black;
}
#sunnyText:hover {
  color: #a7a6a6;
  background-color: black;
}

#miniText {
  color: #c79808;
}
#miniText:hover {
  color: #c79808; 
}
.miniSelect {
  box-shadow: 0 0 5px #ffc10786, 0 0 10px #ffc10786, 0 0 20px #ffc10786;
}
.pickMini:hover {
  box-shadow: 0 0 10px #ffc10786, 0 0 40px #ffc10786, 0 0 80px #ffc10786;
}



/* HAAS-BIOROID COLORS */
#hb {
  filter: invert(32%) sepia(14%) saturate(2153%) hue-rotate(210deg) brightness(88%) contrast(85%);
}
.navHb:hover {
  background-color: #7665c7;
}
.hb {
  color: #695ca9;
  box-shadow: 0 0 5px #695ca97a, 0 0 10px #695ca97a, 0 0 20px #695ca97a;
}
.hb:hover {
  color: white;
  background-color: #7665c7;
  box-shadow: 0 0 10px #695ca97a, 0 0 40px #695ca97a, 0 0 80px #695ca97a;
}
#hbText {
  color: #695ca9;
}
.hbText {
  color: #695ca9;
}
#hbText:hover {
  /* color: #3d3563; */
}
.pickHB {
  /* color: #3d3563; */
  color: #695ca9;
  /* background-color: #695ca9!important; */
  box-shadow: 0 0 5px #695ca97a, 0 0 10px #695ca97a, 0 0 20px #695ca97a;
}
.hbButton:hover {
  color: white;
  /* background-color: #695ca9!important; */
  box-shadow: 0 0 10px #695ca97a, 0 0 40px #695ca97a, 0 0 80px #695ca97a;
}


/* JINTEKI COLORS */
#jinteki {
  filter: invert(8%) sepia(79%) saturate(5871%) hue-rotate(350deg) brightness(89%) contrast(100%);
}
.navJinteki:hover {
  background-color: #b33e48;
}
.jinteki {
  color: #f23f4e;
  box-shadow: 0 0 5px #f23f4e86, 0 0 10px #f23f4e86, 0 0 20px #f23f4e86;
}
.jinteki:hover {
  color: white;
  background-color: #b33e48;
  box-shadow: 0 0 10px #f23f4e86, 0 0 40px #f23f4e86, 0 0 80px #f23f4e86;
}
#jintekiText {
  color: #f23f4e;
}
.jintekiText {
  color: #f23f4e;
}
#jintekiText:hover {
  /* color: #9a0814; */
}
.pickJinteki {
  /* color: #9a0814; */
  color: #f23f4e;
  box-shadow: 0 0 5px #f23f4e86, 0 0 10px #f23f4e86, 0 0 20px #f23f4e86;
}
.jintekiButton:hover {
  color: white;
  /* background-color: #f23f4e!important; */
  box-shadow: 0 0 10px #f23f4e86, 0 0 40px #f23f4e86, 0 0 80px #f23f4e86;
}


/* WEYLAND COLORS */
#weyland {
  filter: invert(37%) sepia(22%) saturate(867%) hue-rotate(107deg) brightness(96%) contrast(83%);
}
.navWeyland:hover {
  background-color: #4c987c;
}
.weyland {
  color: #568e79;
  box-shadow: 0 0 5px #568e7a86, 0 0 10px #568e7a86, 0 0 20px #568e7a86;
}
.weyland:hover {
  color: white;
  background-color: #4c987c;
  box-shadow: 0 0 10px #568e7a86, 0 0 40px #568e7a86, 0 0 80px #568e7a86;
}
#weylandText {
  color: #568e79;
}
.weylandText {
  color: #568e79;
}
#weylandText:hover {
  /* color: #1f523f; */
}
.pickWeyland {
  /* color: #1f523f; */
  color: #568e79;
  box-shadow: 0 0 5px #568e7a86, 0 0 10px #568e7a86, 0 0 20px #568e7a86;
}
.weylandButton:hover {
  color: white;
  /* background-color: #568e79!important; */
  box-shadow: 0 0 10px #568e7a86, 0 0 40px #568e7a86, 0 0 80px #568e7a86;
}


/* NBN COLORS */
#nbn {
  filter: invert(95%) sepia(38%) saturate(5800%) hue-rotate(318deg) brightness(104%) contrast(90%);
}
.navNbn:hover {
  background-color: #ffe595;
}
.nbn {
  color: #f2ca50;
  box-shadow: 0 0 5px #f2ca5080, 0 0 10px #f2ca5080, 0 0 20px #f2ca5080;
}
.nbn:hover {
  color: #212529;
  background-color: #ffe595;
  box-shadow: 0 0 10px #f2ca5080, 0 0 40px #f2ca5080, 0 0 80px #f2ca5080;
}
#nbnText {
  color: #f2ca50;
}
.nbnText {
  color: #f2ca50;
}
#nbnText:hover {
  /* color: #b08a17; */
}
.pickNBN {
  /* color: #b08a17; */
  color: #f2ca50;
  box-shadow: 0 0 5px #f2ca5080, 0 0 10px #f2ca5080, 0 0 20px #f2ca5080;
}
.nbnButton:hover {
  color: white;
  /* background-color: #f2ca50!important; */
  box-shadow: 0 0 10px #f2ca5080, 0 0 40px #f2ca5080, 0 0 80px #f2ca5080;
}



.navbar-divider {
  border-bottom: 1px solid white;
}